@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.display-flex {
  display: flex;
}

.text-color-primary {
  color: #FF900E;
}

.btn-primary {
  font-size: 1rem;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(255, 144, 14);
  border: none;
  padding: 20px 30px;
  color: white;
}

main>section {
  margin-top: 80px;
}

/* dark 2 */
.text-primary {
  color: #424242;
}

/* dark 3 */
.text-gray {
  color: #727272;
}

/* dark 1 */
.text-color-gray {
  color: #131313;
}

/* header style */
header {
  background: rgba(255, 144, 14, 0.1);
}

/* nav related style */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: center;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.navbar,
.banner {
  max-width: 1200px;
  margin: 0 auto;
}

/* banner style */
.banner-content {
  max-width: 840px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.banner img {
  width: 100%;
  border: 1px dashed grey;
  border-radius: 8px;
}

.banner-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0%;
}

/* main section */
.main {
  max-width: 1200px;
  margin: 0 auto;
}

/* team section */
.quick-list {
  color: #727272;
}

.feature-content {
  max-width: 540px;
  margin-left: 50px;
}

.feature-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: left;
}

.team-container {
  align-items: center;
}

.image-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* features enjoy section */
#feature-section-title {
  border-left: 4px solid #FF900E;
  padding-left: 15px;
}

.feature-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: left;
}

.feature-card-container {
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 10px;
}

.feature-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}

.feature-container {
  gap: 100px;
}

.feature-enjoy-content {
  max-width: 586px;

}

.image-card-content img {
  width: 100%;
  height: 100%;
}

/* some fact section */
.fact-1 {
  box-sizing: border-box;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  max-width: 220px;
  padding: 20px;
  text-align: center;
}

.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 30px;
}

.fact-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 520px;
}

.fact-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 520px;
}

/* sponsor section */
.sponsor-info {
  max-width: 540px;
  margin: 0 auto;
}

.sponsor-section h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  margin-bottom: 10px;
  text-align: center;
}

.sponsor-section p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}

.card-image {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
}

.card-image img {
  filter: grayscale(100%);
  align-items: center;
  border: 1px dashed grey;
  width: 180px;
}

/* footer section */
.footer-container {
  border-radius: 8px;
  background: rgb(255, 244, 231);
  padding: 10px;
  margin-top: 50px;
}

.footer-content p {
  text-align: center;
  font: size 1.2rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
}

/* responsive styles */
@media screen and (max-width: 576px) {

  .navbar,
  .team-container,
  .feature-container {
    flex-direction: column;
  }

  .image-content,
  .fact-container,
  .card-image {
    grid-template-columns: repeat(1, 1fr);
  }

  .fact-container {
    justify-items: center;
  }

  .fact-content {
    justify-items: center;
  }

  .fact-1 {
    width: 100%;
  }

  .card-image {
    gap: 20px;
    justify-items: center;
  }
  
}